<configuration>
    <conversionRule conversionWord="highlightex" converterClass="dev.gb.webplayerserver.configs.loggers.CustomForegroundCompositeConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlightex(%-5level) %logger{15} - %highlightex(%msg) %n</pattern>
        </encoder>
    </appender>

<!--    <logger name="dev.gb.webplayerserver.services.concrete.otps.senders.AWSEmailOtpSenderService" level="debug" />-->

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>

